        <div id="cookieConsentPopUp" class="cookie-popup">
            <h3>Our Use of Cookies</h3>
            <p>This website uses <b>only technically necessary cookies</b> to ensure its proper functioning. These cookies are essential for you to navigate the website and use its features. No personal data is collected or stored through these cookies. <a href="{{ url_for('privacy_policy_de') }}" target="_blank">For more information, read about our privacy policy.</a></p>
            <button id="acceptCookies">Got it!</button>
        </div>
    </div>